---
---

@import "minimal-mistakes";

body {
  background-color: #e6f2ff !important;
}

.masthead,
.masthead__inner-wrap {
  background-color: #000 !important;
}

.masthead a {
  color: #fff !important;
}
